}
body {
	background-color: aquamarine;
	font-family: Georgia;
	text-align: center;

}
header { 
	border: solid blue; 
	max-width: 70ex;
}
section {
	border: navy blue;
	max-width: 70ex;

}

address {
	border: dotted blue
	max-width: 70ex;
}